* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --icon-button: url(./assets/sun.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --icon-button: url(./assets/moon-stars.svg);
}

body {
  /* background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* diminuindo o codigo(atalho):
  background: color imagem repeat position/size; */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*margin-top: 56px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  
  diminuindo o comando com a regua do reloginho!*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  /*ele aceita que o "pai" dele defina se ele fica centralizado ou não*/
  padding: 24px;
}

#profile img {
  width: 112px;
}

/* alguns elementos são block ou inline, para mexer nisso, adicionar "display: block" ou "display: inline" ou até mesmo "display: inline-bloco" */

#profile p {
  font-weight: 500;
  line-height: 24px;
  padding-top: 8px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--icon-button) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}
/*o "a" é um display inline, fazendo assim contar apenas o tamanho da escrita, e não da linha toda*/

/*pseudo-selector (passar o mouse em cima*/
li a:hover {
  background: var(--surface-color-hover);
  border: 1.8px solid;
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  gap: 5px;

  font-size: 30px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  align-items: center;
  text-align: center;
  font-size: 14px;
}